:root {
    
    /* Defaults */

    --font-family: 'Helvetica', sans-serif;

    --btn-color: #007afe;
    --btn-color-text: white;

    --link-color: #007afe;

    /* Light Mode */

    --bg-color: #fafafa;
    --text-color: #000000;

    /* Dark Mode */

    --bg-color-dark: #202020;
    --text-color-dark: #ffffff;

}

body.light, body.light a {
    font-family: var(--font-family);
    background-color: var(--bg-color);
    color: var(--text-color);
    text-decoration: none;
}

body.dark, body.dark a {
    font-family: var(--font-family);
    background-color: var(--bg-color-dark);
    color: var(--text-color-dark);
    text-decoration: none;
}

body.dark .logo-img {
    filter: invert(1);
}

button {
    background-color: var(--btn-color);
    color: var(--btn-color-text);
}

.form-check-input:checked {
    background-color: black;
    border-color: black;
}

.cursor {
    display: inline-block;
    animation: blink-caret 0.75s step-end infinite;
}

.cursor::after {
    content: '|';
}

@keyframes blink-caret {
    from, to {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.footer {
    font-size: 0.5em;
}
